flask==2.3.3
ipykernel==6.25.0
pandas==2.0.3
pymongo==4.4.1
kaleido==0.2.1
nbformat==5.0.8
mkdocs==1.3.0
mkdocstrings==0.18.1
mkdocstrings-python==0.6.6

--extra-index-url https://repos.ri.ucdavis.edu/python
ucd-ri-pydbutils==2.0.0
piesafe==1.2.0