[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://repos.ri.ucdavis.edu/python"
verify_ssl = true
name = "ripy"

[dev-packages]
autopep8 = "*"

[packages]
appnope = "*"
backcall = "*"
certifi = "*"
chardet = "*"
click = "*"
decorator = "*"
flask-oidc = "*"
httplib2 = "*"
hvac = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
itsdangerous = "*"
jedi = "*"
jupyter-client = "*"
jupyter-core = "*"
numpy = "*"
oauth2client = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyodbc = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
rsa = "*"
six = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
cx-Oracle = "*"
Flask = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
SQLAlchemy = "*"
Werkzeug = "*"
gunicorn = "*"
funcy = "*"
flask-apscheduler = "*"
python-dotenv = "*"
piesafe = "*"
ucd-ri-pydbutils = "*"
scipy = "*"

[requires]
python_version = "3.6"
