<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('pieval.static',filename='styles/pieval.css') }}">
  <link rel= "script" type= "text/javascript" href= "{{ url_for('pieval.static',filename='scripts/pieval.js') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Annotation Page for {{ one_example.project_name }}</title>
</head>
<body>
  <div class="topnav">
    <a href = {{ url_for('pieval.pievalIndex') }} onmouseover="changeClass">Project Index</a>
    {% if 'prev_example' in session.keys() %}
    <a href = {{ url_for('pieval.annotate_example', doh='yes') }} onmouseover="changeClass">Doh!</a>
    {% endif %}
    <a class="right" href= {{ url_for('pieval.logout') }} onmouseover="changeClass">Logout</a>
  </div>

  <p><b>Prompt: </b>{{ one_example.prompt }}</p>
  <p><b>Data: </b>{{ one_example.data }}</p>
  <div class="center_container">
    <hr>
    <p>{{ one_example.prompt }}</p>
    <form action="{{ url_for('pieval.record_annotation') }}" method="post">
      <div class="radio-toolbar">
        <input type="radio" id="radioAgree" name="response" value="agree">
        <label for="radioAgree">Agree</label>
        <input type="radio" id="radioReview" name="response" value="review">
        <label for="radioReview">Review</label>
        <input type="radio" id="radioPass" name="response" value="pass">
        <label for="radioPass">Pass</label>
        <input type="radio" id="radioDisagree" name="response" value="disagree">
        <label for="radioDisagree">Disagree</label>
      </div>
      <div class="radio-submit">
        <input type="submit">
      </div>
    </form>
  </div>
</body>
</html>
