<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('pieval.static',filename='styles/pieval.css') }}">
  <link rel="icon" href="{{ url_for('pieval.static',filename='images/pieVal_Logo_favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Annotation Page for {{ one_example.project_name }}</title>
  <script rel= "script" type= "text/javascript" src= "{{ url_for('pieval.static',filename='scripts/pieval.js') }}"></script>
  <script type="text/javascript">
    var mc_class_list = {{ proj_class_data|safe }}
    function validateMCEntry(){
        console.log(mc_class_list);
        var cur_selected_value = document.getElementById("class_dd").value;
        if(mc_class_list.indexOf(cur_selected_value) > -1){
          return true;
        }else{
          alert("Select a value from the list")
          return false;
        }
    }
  </script>
</head>
<body>
  <div class="topnav">
    <a href = {{ url_for('pieval.pievalIndex') }} onmouseover="changeClass">Project Index</a>
    <a class="right" href= {{ url_for('pieval.logout') }} onmouseover="changeClass">Logout</a>
  </div>

  <p><b>Prompt: </b>{{ one_example.prompt }}</p>
  <p><b>Data: </b>{{ one_example.data }}</p>
  <p id="full_report_data" style="display: none"><b>Data_ext: </b>{{ one_example.data_ext }}</p>
  <div class="center_container">
    <a onclick="toggleHideUnhideFullReportData('full_report_data')" href="#">Show/Hide More Context</a>
    <hr>
    <p>{{ one_example.prompt }}</p>
    <form action="{{ url_for('pieval.record_annotation') }}" method="post">
      <label for="class_dd">What's the correct class</label>
      <input type="text" id="class_dd" name="response" list="class_list">
      <datalist id="class_list">
        {% for class in proj_classes %}
          <option value="{{ class }}">{{ class }}</option>
        {% endfor %}
      </datalist>
      <div class="hidden-input">
        <input type="text" id="context_viewed" name="context_viewed" value="{{ context_viewed }}"></input>
      </div>
      <div class="radio-submit">
        <input type="submit" onclick="return validateMCEntry()">
      </div>
    </form>
  </div>
</body>
</html>
