<!doctype html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pieval.css') }}">
  <link rel= "script" type= "text/javascript" href= "{{ url_for('static',filename='scripts/pieval.js') }}">
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <title>PieVal Home</title>
</head>
<body>
  <div class="topnav">
    <a href = {{ url_for('pievalIndex') }} onmouseover="changeClass">Project Index (Home)</a>
    <a href= {{ url_for('logout') }} onmouseover="changeClass">Logout</a>
  </div>
  <div class="center_container">
    <h3 class="center_text">Welcome to PieVal</h3>
    <h5 class="center_text">PieVal is just what the doctor ordered if your disease is unlabeled data!</h5>
    <h4 class="center_text">{{ session['user_name']|title }}'s projects</h4>
    <table class="center_table">
      <tr>
        <th>Project</th>
        <th>Your Status (% complete)</th>
        <th>Description</th>
        <th>Mode</th>
      </tr>
      {% for proj in projects %}
      <tr>
        <td><a href = {{ url_for('project', project_name=proj.project_name) }}>{{ proj.project_name }}</a></td>
        <td>{{ proj.pct_complete }}</td>
        <td>{{ proj.project_description }}</td>
        <td>{{ proj.project_mode }}</td>
      </tr>
      {% endfor %}
    <table>
  </div>
</body>
</html>
