{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class = "col">
        <h3>Welcome to PieVal</h3>
        <hr>
        <p>PieVal was built to capture data annotations for classification exercies quickly and easily...enjoy!</p>
    </div>
</div>

<div class='row justify-content-md-center'>
    <div class = "col col-lg-3">
        <h4>{{ session['user_name']|title }}'s projects</h4>
    </div>
</div>

<div class="row">
    <div class='col-12'>
        <table class="table table-striped">
        <tr>
            <th>Project</th>
            <th>Your Status (% complete)</th>
            <th>Description</th>
            <th>Data Type</th>
            <th>Mode</th>
        </tr>
        {% for proj in projects %}
        <tr>
            <td><a href = {{ url_for('pieval.project', project_name=proj.project_name) }}>{{ proj.project_name }}</a></td>
            <td>{{ proj.pct_complete }}</td>
            <td>{{ proj.project_description }}</td>
            <td>{{ proj.data_type }}</td>
            <td>{{ proj.project_mode }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}