<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('pieval.static',filename='styles/pieval.css') }}">
  <script rel= "script" type= "text/javascript" src= "{{ url_for('pieval.static',filename='scripts/pieval.js') }}"></script>
  <link rel="icon" href="{{ url_for('pieval.static',filename='images/pieVal_Logo_favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PieVal Login</title>
</head>
<body>
  <div class="center_container">
    <h1>Welcome to PieVal - Please Sign In</h1>
    <form action="{{ url_for('pieval.login') }}" method="post">
      <input type="text" name="user_name">
      <input type="submit">
    </form>
  </div>
</body>
</html>
