<!doctype html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('pieval.static',filename='styles/pieval.css') }}">
  <script rel= "script" type= "text/javascript" src= "{{ url_for('pieval.static',filename='scripts/pieval.js') }}"></script>
  <link rel="icon" href="{{ url_for('pieval.static',filename='images/pieVal_Logo_favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ project_metadata.project_name }}</title>
</head>
<body>
  <div class="topnav">
    <a href = {{ url_for('pieval.pievalIndex') }} onmouseover="changeClass">Project Index</a>
    <a class="right" href= {{ url_for('pieval.logout') }} onmouseover="changeClass">Logout</a>
  </div>
  <div class="center_container">
    <h2>Project: '{{ project_metadata.project_name }}'</h2>
    <p><b>Description: </b>{{ project_metadata.project_description }}</p>
    <p><b>Status: </b>You have completed {{ user_examples }} out of {{ total_examples }} records in this project</p>
    <br>

    <form method="GET" action={{ url_for('pieval.annotate_example') }}>
      <div class="radio-submit">
      <input type="submit" value="Start Annotating!">
      </div>
    </form>
    <h2>Leaderboard</h2>
    {%  if project_leaderboard|length ==0 %}
        <p>Be the first on the leaderboard!</p>
    {% endif %}
    <table class="center_table">
      <tr>
        <th>Annotator</th>
        <th>Number of Annotations</th>
          <th>Status</th>
      </tr>
      {% for pl in project_leaderboard %}
      <tr>
        <td>{{ pl.user_name }}</td>
        <td>{{ pl.annotation_count }}</td>
        <td><img src="{{ url_for('pieval.static',filename=pl.medal) }}" alt="Annotator Status"></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
